<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

<dubbo:application name="book-rpc-platform" owner="book"/>
    <dubbo:registry address="zookeeper://127.0.0.1:2181"  client="curator" timeout="10000"/>

    <bean id="IBookService" class="com.book.api.BookApi" />
    <dubbo:service interface="com.book.thrift.service.IBookService$Iface"
                   ref="IBookService" version="1" timeout="10000" >
    </dubbo:service>
</beans>